<nav class="navigation">
  <section class="container">
    <ul class="sites">
		 <li>
			<a href="/">SearchTempest</a>
		</li>
		<li>
			<a href="http://www.autotempest.com">AutoTempest</a>
		</li>
    </ul>
    <ul class="navigation-list float-right">
      <li class="navigation-item">
        <a class="navigation-link ab" href="http://forums.searchtempest.com/" data-popover>Forums</a>
      </li>
	   <li class="navigation-item">
        <a class="navigation-link" href="http://www.tempestblog.com/" data-popover>Development Blog</a>
      </li>
	   <li class="navigation-item">
        <a class="navigation-link" href="http://support.searchtempest.com/hc/" data-popover>Help</a>
      </li>
    </ul>
	<ul class="icons">
	  <li>
		<a href="#">
		  <img src="{{site.baseurl}}/images/facebook.png">
		</a>
	  </li>
	  <li>
		<a href="#">
		  <img src="{{site.baseurl}}/images/gp.png">
		</a>
	  </li>
	</ul>
    
  </section>
</nav>