<nav class="navigation">
  <section class="container">

    <a class="navigation-title" href="{{ site.baseurl }}/index.html">
      <!-- <img class="img" src="img/logo.svg" height="30" alt="Milligram" title="Milligram"> -->
      <h1 class="title">{{ site.title }}</h1>
    </a>
    <ul class="sites">
		 <li>
			<a href="/">SearchTempest</a>
		</li>
		<li>
			<a href="http://www.autotempest.com">AutoTempest</a>
		</li>
    </ul>
    <ul class="navigation-list float-right">
      <li class="navigation-item">
        <a class="navigation-link ab" href="http://forums.searchtempest.com/" data-popover>Forums</a>
      </li>
	   <li class="navigation-item">
        <a class="navigation-link" href="http://www.tempestblog.com/" data-popover>Development Blog</a>
      </li>
	   <li class="navigation-item">
        <a class="navigation-link" href="http://support.searchtempest.com/hc/" data-popover>Help</a>
      </li>
    </ul>
    
  </section>
</nav>